.container{
  border-left: 8px solid #3a8af6 !important;
  border: 1px solid lightgray;
  border-radius: 15px;
  
}
.labelop{
  font-size: 26px !important;
}
input[type=text]{
  font-size: 20px;
  width: 100%;
  } 

@media only screen and (max-width: 600px) {
  ::ng-deep .modal-body{
      padding: 5px;
  } 
  .labelop{
    font-size: 16px !important;
}
input[type=text]{
  font-size: 14px;
  width: 100%;
  } 
}
