
.overall {
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 100vh;  
    justify-content: center; 
    align-items: center;  
    margin: 0 auto;  
    overflow: hidden;
    overflow-y: scroll;
  }
  .cards{
    display: flex;
    flex-direction: column;
    
  }
  ::ng-deep .leader-line{
   position: absolute !important;
}
    .list-item{
    height: 100px;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 1px 1px 15px -5px black;
    transition: all 0.3s ease;
    text-align: center;
    
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .labelmatch{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #3a8af6;
    position: absolute;
  right: 20px;
  margin-top: -60px;
  }
  .content-text{
    
   text-align: center;
      display: -webkit-box;
    
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  
  
  /* title image upload */
.avatar-wrapper {
    height: 100px;
    width: 100px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 1px 1px 15px -5px black;
    transition: all 0.3s ease;
    text-align: center;
    line-height: 100px;
  }
  .avatar-wrapper .profile-pic {
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
  }
  .red {
    background: lightblue;
  }
  
  .mapped {
    background:lightgreen;
  }
/* quiz images */
.tickmark_label
  {
      width: 40px;
      height: 40px;
      margin: 0 auto;
      border: 1px solid gray;
      transform: translateY(-50%);
      border-radius: 50%;
      cursor: pointer;
      overflow: hidden;
      z-index: 1;
      position: absolute;
      bottom: -24px;
      margin-left: 80px;
  }
  input[type="radio"]{
    visibility:hidden;
}
  #radio1:checked + .tickmark_label
  {
      background-color: #07d410;
      
  }
  #radio1:checked + .tickmark_label:before
  {
      width: 0;
      height: 0;
  }
  
  #radio1:checked + .tickmark_label #tick_mark:before, #radio1:checked + .tickmark_label #tick_mark:after
  {
      transform: translate(0);
      opacity: 1;
  } 
  #radio2:checked + .tickmark_label
  {
      background-color: #07d410;
      
  }
  #radio2:checked + .tickmark_label:before
  {
      width: 0;
      height: 0;
  }
  
  #radio2:checked + .tickmark_label #tick_mark:before, #radio2:checked + .tickmark_label #tick_mark:after
  {
      transform: translate(0);
      opacity: 1;
  } 
  #radio3:checked + .tickmark_label
  {
      background-color: #07d410;
      
  }
  #radio3:checked + .tickmark_label:before
  {
      width: 0;
      height: 0;
  }
  
  #radio3:checked + .tickmark_label #tick_mark:before, #radio3:checked + .tickmark_label #tick_mark:after
  {
      transform: translate(0);
      opacity: 1;
  }   
  #radio4:checked + .tickmark_label
  {
      background-color: #07d410;
      
  }
  #radio4:checked + .tickmark_label:before
  {
      width: 0;
      height: 0;
  }
  
  #radio4:checked + .tickmark_label #tick_mark:before, #radio4:checked + .tickmark_label #tick_mark:after
  {
      transform: translate(0);
      opacity: 1;
  } 
 
  .wrapper{
    width: 100%;
    height: 100%;  
   background-color: #fff;

  }.card{
    width: 100%;
    height: 300px;
   background-image: url(/assets/images/blue_.png);
   background-repeat: no-repeat;
   background-size:100% 100%;
    border-radius: 25px;
  }
 
  
  .questionCard{
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: auto;
    border: 1px solid #3a8af6;
    background-color: #fff;
    position: relative;
    border-radius: 25px;
-webkit-box-shadow: 0px 4px 8px 1px #8cb7f0;
   -moz-box-shadow: 0px 4px 8px 1px #7d8fa7;
        box-shadow: 0px 4px 8px 1px #8cb7f0;
        font-size: 26px;
        text-align: center;
        vertical-align: middle;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 200px;
  }
 
  .question{
      margin-top: 20px;
  }
  
  .leftOption{
      width: 60px;
      height: 20px; 
      border-radius: 5px;
      background-color: green;
      position: absolute;
      top: 10px;
      left: 45px;
  }
  .number1{
      position: absolute;
      left: -32px;
      font-size: 24px;
      top: 0px;
      color: green;
  }
  .number2{
    position: absolute;
    right: -32px;
    font-size: 24px;
    top: 0px;
    color: red;
}
  .rightOption{
    width: 60px;
    height:20px;
    border-radius: 5px;
    background-color: red;
    position: absolute;
    top: 10px;
    right: 45px;
}
  .numberCircle{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -35px;
    transform: translateX(-50%);
    background-color: #fff;
    border: 8px solid #3a8af6;
    box-shadow: 0 0 0 8px #fff;
    line-height: 4rem;
    vertical-align: middle;
    text-align: center;
    font-size: 26px;
  }


  
  #_radio1
  {
      display: none;
  }
  .label_1
  {
    position: absolute;
    top: 29px;
    right: 35px;
      width: 40px;
      height: 40px;
      margin: 0 auto;
      background-color: #3a8af6;
      transform: translateY(-50%);
      border-radius: 50%;
      cursor: pointer;
      overflow: hidden;
      z-index: 1;
  }
 .options{
      font-size: 25px;
    width: 100%;
     height: 60px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
     border-radius: 25px;
     border: 1px solid #3a8af6;
     padding-left: 10px;
     padding-right: 10px;
     -webkit-box-shadow: 0px 8px 4px 1px lightgray;
     -moz-box-shadow: 0px 8px 4px 1px lightgray;
          box-shadow: 0px 8px 4px 1px lightgray;
      text-align: center;
      display: flex;
    align-items: center;
    justify-content: center;
  }
  .option{
    font-size: 25px;
    width: 100%;
     height: 60px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
     border-radius: 25px;
     border: 1px solid #3a8af6;
     padding-left: 10px;
     padding-right: 10px;
     -webkit-box-shadow: 0px 8px 4px 1px lightgray;
     -moz-box-shadow: 0px 8px 4px 1px lightgray;
          box-shadow: 0px 8px 4px 1px lightgray;
      text-align: center;
      display: flex;
    align-items: center;
    justify-content: center;
  }
  .label_1:before
  {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      width: 36px;
      height: 36px;
      margin: 0 auto;
      background-color: #fff;
      transform: translateY(-50%);
      border-radius: 50%;
      transition: 0.2s ease width, 0.2s ease height;
  }
  .label_1:active
  {
      transform: translateY(-50%) scale(0.9);
  }
  #tick_mark
  {
      position: absolute;
      top: 6px;
      right: 4px;
      left: 0;
      width: 20px;
      height: 20px;
      margin: 0 auto;
      margin-left: 8px;
      transform: rotateZ(-50deg);
  }
  
  #tick_mark:before, #tick_mark:after
  {
      content: "";
      position: absolute;
      background-color: #fff;
      border-radius: 2px;
      opacity: 0;
  }
  #tick_mark:before
  {
      left: 0;
      bottom: 0;
      width: 8px;
      height: 12px;
      transform: translateY(-28px)
  }
  
  #tick_mark:after
  {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 5px;
      box-shadow: 0 3px 5px rgba(0,0,0,0.23);
      transform: translateY(-40px)
  }
  #_radio1:checked ~ .options[for=_radio1]  {
    background-color: #3a8af6;
    color: white;
  }
  #_radio1:checked + .label_1
  {
      background-color: #07d410;
  }
  
  #_radio1:checked + .label_1:before
  {
      width: 0;
      height: 0;
  }
  
  #_radio1:checked + .label_1 #tick_mark:before, #_radio1:checked + .label_1 #tick_mark:after
  {
      transform: translate(0);
      opacity: 1;
  }   
  #_radio2
  {
      display: none;
  }
  .label_2
  {
    position: absolute;
    top: 29px;
    right: 35px;
      width: 40px;
      height: 40px;
      margin: 0 auto;
      background-color: #3a8af6;
      transform: translateY(-50%);
      border-radius: 50%;
      cursor: pointer;
      overflow: hidden;
      z-index: 1;
  }
  .label_2:before
  {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      width: 36px;
      height: 36px;
      margin: 0 auto;
      background-color: #fff;
      transform: translateY(-50%);
      border-radius: 50%;
      transition: 0.2s ease width, 0.2s ease height;
  }
  .label_2:active
  {
      transform: translateY(-50%) scale(0.9);
  }
  #tick_mark
  {
      position: absolute;
      top: 6px;
      right: 4px;
      left: 0;
      width: 20px;
      height: 20px;
      margin: 0 auto;
      margin-left: 8px;
      transform: rotateZ(-50deg);
  }
  
  #tick_mark:before, #tick_mark:after
  {
      content: "";
      position: absolute;
      background-color: #fff;
      border-radius: 2px;
      opacity: 0;
  }
  #tick_mark:before
  {
      left: 0;
      bottom: 0;
      width: 8px;
      height: 12px;
      transform: translateY(-28px)
  }
  
  #tick_mark:after
  {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 5px;
      box-shadow: 0 3px 5px rgba(0,0,0,0.23);
      transform: translateY(-40px)
  }
  #_radio2:checked ~ .options[for=_radio2]  {
    background-color: #3a8af6;
    color: white;
  }
  #_radio2:checked + .label_2
  {
      background-color: #07d410;
  }
  
  #_radio2:checked + .label_2:before
  {
      width: 0;
      height: 0;
  }
  
  #_radio2:checked + .label_2 #tick_mark:before, #_radio2:checked + .label_2 #tick_mark:after
  {
      transform: translate(0);
      opacity: 1;
  }  
  #_radio3
  {
      display: none;
  }
  .label_3
  {
    position: absolute;
    top: 29px;
    right: 35px;
      width: 40px;
      height: 40px;
      margin: 0 auto;
      background-color: #3a8af6;
      transform: translateY(-50%);
      border-radius: 50%;
      cursor: pointer;
      overflow: hidden;
      z-index: 1;
  }
  .label_3:before
  {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      width: 36px;
      height: 36px;
      margin: 0 auto;
      background-color: #fff;
      transform: translateY(-50%);
      border-radius: 50%;
      transition: 0.2s ease width, 0.2s ease height;
  }
  .label_3:active
  {
      transform: translateY(-50%) scale(0.9);
  }
  #tick_mark
  {
      position: absolute;
      top: 6px;
      right: 4px;
      left: 0;
      width: 20px;
      height: 20px;
      margin: 0 auto;
      margin-left: 8px;
      transform: rotateZ(-50deg);
  }
  
  #tick_mark:before, #tick_mark:after
  {
      content: "";
      position: absolute;
      background-color: #fff;
      border-radius: 2px;
      opacity: 0;
  }
  #tick_mark:before
  {
      left: 0;
      bottom: 0;
      width: 8px;
      height: 12px;
      transform: translateY(-28px)
  }
  
  #tick_mark:after
  {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 5px;
      box-shadow: 0 3px 5px rgba(0,0,0,0.23);
      transform: translateY(-40px)
  }
  #_radio3:checked ~ .options[for=_radio3]  {
    background-color: #3a8af6;
    color: white;
  }
  #_radio3:checked + .label_3
  {
      background-color: #07d410;
  }
  
  #_radio3:checked + .label_3:before
  {
      width: 0;
      height: 0;
  }
  
  #_radio3:checked + .label_3 #tick_mark:before, #_radio3:checked + .label_3 #tick_mark:after
  {
      transform: translate(0);
      opacity: 1;
  }    
  #_radio4
  {
      display: none;
  }
  .label_4
  {
      position: absolute;
      top: 29px;
      right: 35px;
      width: 40px;
      height: 40px;
      margin: 0 auto;
      background-color: #3a8af6;
      transform: translateY(-50%);
      border-radius: 50%;
      cursor: pointer;
      overflow: hidden;
      z-index: 1;
  }
  .label_4:before
  {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      width: 36px;
      height: 36px;
      margin: 0 auto;
      background-color: #fff;
      transform: translateY(-50%);
      border-radius: 50%;
      transition: 0.2s ease width, 0.2s ease height;
  }
  .label_4:active
  {
      transform: translateY(-50%) scale(0.9);
  }
  #tick_mark
  {
      position: absolute;
      top: 6px;
      right: 4px;
      left: 0;
      width: 20px;
      height: 20px;
      margin: 0 auto;
      margin-left: 8px;
      transform: rotateZ(-50deg);
  }
  
  #tick_mark:before, #tick_mark:after
  {
      content: "";
      position: absolute;
      background-color: #fff;
      border-radius: 2px;
      opacity: 0;
  }
  #tick_mark:before
  {
      left: 0;
      bottom: 0;
      width: 8px;
      height: 12px;
      transform: translateY(-28px)
  }
  
  #tick_mark:after
  {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 5px;
      box-shadow: 0 3px 5px rgba(0,0,0,0.23);
      transform: translateY(-40px)
  }
  #_radio4:checked ~ .options[for=_radio4] {
    background-color: #3a8af6;
    
  }
 
  #_radio4:checked + .label_4
  {
      background-color: #07d410;
  }


  #_radio4:checked + .label_4:before
  {
      width: 0;
      height: 0;
  }
  
  #_radio4:checked + .label_4 #tick_mark:before, #_radio4:checked + .label_4 #tick_mark:after
  {
      transform: translate(0);
      opacity: 1;
  }   
  @media only screen and (max-width: 600px) {
      
      .option_1, .option_2  , .option_4{
        flex: 100%;
        overflow: hidden;
        margin-top: 2px;
        margin-left: -2px;
        margin-right: -2px;
    }
    .question{
        margin-top: 10px;
    }
      .option_3{
          margin-top: -2px !important;
      }
      ::ng-deep .modal-body{
          padding: 5px;
      } 
      .list-item{
        height: 100px;
        width: 100%;
        border-radius: 25px;
        overflow: hidden;
        box-shadow: 1px 1px 15px -5px black;
        transition: all 0.3s ease;
        /* text-align: center;
        line-height: 100px; */
        margin: 5px;
        padding-left: 5px;
        padding-right: 5px;
      }
  }
  input[type=text]{
    font-size: 25px;
  width: 100%;
   height: 60px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
   border-radius: 25px;
   border: 1px solid transparent;
  background: transparent;
} 


input,
input::-webkit-input-placeholder {
    line-height: 2;
    text-align: center;
} 
@media only screen and (max-width: 600px) {
    ::ng-deep .modal-body{
        padding: 5px;
    } 
    p,h1{
        font-size: 18px;
    }
    .number1{
        position: absolute;
        left: -28px;
        font-size: 18px;
        top: -3px;
        color: green;
    }
    .number2{
      position: absolute;
      right: -28px;
      font-size: 18px;
      top: -3px;
      color: red;
  }
  .leftOption{
    width: 40px;
    height: 15px;
    border-radius: 5px;
    background-color: green;
    position: absolute;
    top: 10px;
    left: 50px;
}
.rightOption{
    width: 40px;
    height: 15px;
    border-radius: 5px;
    background-color: red;
    position: absolute;
    top: 10px;
    right: 50px;
}
.overall {
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 100vh;  
    overflow-y: scroll;
    justify-content: center; 
    align-items: center;  
    margin: 0 auto;   
  }
  
  }