<div class="container _text_color px-md-5 px-sm-0 px-xs-0">
  <h1 style="text-align: center;">{{scheduleCreateTitle}}</h1>
  <form [formGroup]="createScheduleForm" (ngSubmit)="onSubmit()">
    <div *ngIf="greater" class="alert alert-danger">{{scheduleCreateError}}</div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="number" class="control-label required">{{meetNameLabel}}</label>
          <input placeholder="{{meetNamePlaceholder}}" class="form-control" formControlName="name" required
            appCheckFormFieldValidity>
        </div>
        <div class="form-group">
          <label for="number" class="control-label required">{{SubjectsSelectLabel}}</label>
          <ng-select [items]="subjects" placeholder="{{subjectsSelectPlaceholder}}" [closeOnSelect]="true"
            formControlName="subject" appendTo="body" [(ngModel)]="subjectsSelected">
          </ng-select>
        </div>
        <div class="form-group">
          <label>{{addParticipentsLabel}}</label>
          <div class="formGroup">
            <label *ngFor="let class of classesList; let i = index" class="m-1">
              <input type="checkbox" (click)="selectedClass(class._id,i)" />
              {{class.name | titlecase}}</label>
          </div>
          <div class="classListBox">
            <mat-chip-list class="classList" *ngFor="let participant of participantsSelected; let i = index">
              <mat-chip class="m-2" (click)="removeItem(i)"><i class="fa fa-close p-1 "></i>
                {{participant.name | titlecase}}</mat-chip>
            </mat-chip-list>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="startTime">{{startTimeLabel}}</label>
            <input [(ngModel)]="starts_at_time2" class="form-control" formControlName="starts_at"
              (click)="openClock($event,1)" appCheckFormFieldValidity />
          </div>
          <div class="col form-group">
            <label for="startTime">{{endTimeLabel}}</label>
            <input [(ngModel)]="ends_at_time2" class="form-control" formControlName="ends_at"
              (click)="openClock($event,2)" appCheckFormFieldValidity />
          </div>
        </div>
        <div class="form-group">
          <label>{{dateLabel}}</label>
          <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="picker1" formControlName="scheduled_date" id="date" placeholder="MM/DD/YYY"
              min="{{today|date:'yyyy-MM-dd'}}" [(ngModel)]="dt">
            <mat-datepicker-toggle matSuffix [for]="picker1" class="_text_color"></mat-datepicker-toggle>
            <mat-datepicker #picker1 class="_text_color"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="bt">
      <button class="btn" color="primary" type="submit" [disabled]="createScheduleForm.invalid || flag || greater"><i
          class="fa fa-plus-circle mr-1" aria-hidden="true"></i>{{scheduleCreateButton}}</button>
    </div>

  </form>
</div>