 .container{
    border-left: 8px solid #3a8af6 !important;
    border: 1px solid lightgray;
    border-radius: 15px;
    
}
.fa{
  cursor: pointer;
}
h2{
  font-size: 26px;
}
input[type=radio]{
  display: none;
}
.classList{
  display: inline-block;
  
}
.classListBox{
  height: 150px;
  max-height:100px;
  overflow-y:auto;
}
::ng-deep .question-add .modal-dialog{  
  max-width: 100% !important;
  margin: 0px!important;
  border: none!important;
}

::ng-deep .modal .show .modal-dialog {
   transform: none!important;
}
::ng-deep  .modal-open .modal{
  overflow: hidden !important;
}
::ng-deep .modal-content{
  border: none !important;
  border-radius: 0px !important;
}
.modal_control{
  height: 100vh;
  overflow:hidden;
  overflow-y: scroll;
  padding: 8px;
}
::ng-deep .question-upload .modal-content{  
  border: 3px solid #3a8af6!important;
  border-radius: 25px !important;
}
.label
{
  position: absolute;
  top: 22px;
  right: 35px;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background-color: #3a8af6;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}
.label:before
{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 26px;
    height: 26px;
    margin: 0 auto;
    background-color: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: 0.2s ease width, 0.2s ease height;
}
.label:active
{
    transform: translateY(-50%) scale(0.9);
}
#tick_mark
{
    position: absolute;
    top: 0px;
    /* right: 6px;
    left: 0; */
    width: 20px;
    height: 20px;
    margin: 0 auto;
    margin-left: 4px;
    transform: rotateZ(-50deg);
}

#tick_mark:before, #tick_mark:after
{
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    opacity: 0;
}
#tick_mark:before
{
    left: 0;
    bottom: 0;
    width: 8px;
    height: 12px;
    transform: translateY(-28px)
}

#tick_mark:after
{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.23);
    transform: translateY(-40px)
}

.radio1:checked + .label
{
    background-color: #07d410;
}

.radio1:checked + .label:before
{
    width: 0;
    height: 0;
}

.radio1:checked + .label #tick_mark:before, .radio1:checked + .label #tick_mark:after
{
    transform: translate(0);
    opacity: 1;
}   
.radio2:checked + .label
{
    background-color: #07d410;
}

.radio2:checked + .label:before
{
    width: 0;
    height: 0;
}

.radio2:checked + .label #tick_mark:before, .radio2:checked + .label #tick_mark:after
{
    transform: translate(0);
    opacity: 1;
} 
.radio3:checked + .label
{
    background-color: #07d410;
}

.radio3:checked + .label:before
{
    width: 0;
    height: 0;
}

.radio3:checked + .label #tick_mark:before, .radio3:checked + .label #tick_mark:after
{
    transform: translate(0);
    opacity: 1;
}   
.radio4:checked + .label
{
    background-color: #07d410;
}

.radio4:checked + .label:before
{
    width: 0;
    height: 0;
}

.radio4:checked + .label #tick_mark:before, .radio4:checked + .label #tick_mark:after
{
    transform: translate(0);
    opacity: 1;
}   
.tickmark_label
  {
      width: 40px;
      height: 40px;
      margin: 0 auto;
      border: 1px solid gray;
      transform: translateY(-50%);
      border-radius: 50%;
      cursor: pointer;
      overflow: hidden;
      z-index: 1;
      position: absolute;
      bottom: -24px;
      margin-left: 80px;
  }
  input[type="radio"]{
    visibility:hidden;
}
  .radio1:checked + .tickmark_label
  {
      background-color: #07d410;
      
  }
  .radio1:checked + .tickmark_label:before
  {
      width: 0;
      height: 0;
  }
  
  .radio1:checked + .tickmark_label #tick_mark:before, .radio1:checked + .tickmark_label #tick_mark:after
  {
      transform: translate(0);
      opacity: 1;
  } 
  .radio2:checked + .tickmark_label
  {
      background-color: #07d410;
      
  }
  .radio2:checked + .tickmark_label:before
  {
      width: 0;
      height: 0;
  }
  
  .radio2:checked + .tickmark_label #tick_mark:before, .radio2:checked + .tickmark_label #tick_mark:after
  {
      transform: translate(0);
      opacity: 1;
  } 
  .radio3:checked + .tickmark_label
  {
      background-color: #07d410;
      
  }
  .radio3:checked + .tickmark_label:before
  {
      width: 0;
      height: 0;
  }
  
  .radio3:checked + .tickmark_label #tick_mark:before, .radio3:checked + .tickmark_label #tick_mark:after
  {
      transform: translate(0);
      opacity: 1;
  }   
  .radio4:checked + .tickmark_label
  {
      background-color: #07d410;
      
  }
  .radio4:checked + .tickmark_label:before
  {
      width: 0;
      height: 0;
  }
  
  .radio4:checked + .tickmark_label #tick_mark:before, .radio4:checked + .tickmark_label #tick_mark:after
  {
      transform: translate(0);
      opacity: 1;
  } 
.form-select-lg{
    padding: 10px;
    width: 100%;
}
.labelop{
    font-size: 22px;
}
.fa{
    color: gray;
}
.fa option {
    font-weight: 900;
    }
.image{
    font-size: 36px;
    color: gray;
}
::ng-deep .question-upload .modal-content{  
  border: 3px solid #3a8af6!important;
  border-radius: 25px !important;
}
.fa-trash, .fa-plus-circle,.fa-file-excel-o, .fa-file-excel-o , .fa-picture-o , .fa-clone, .fa-th-large ,.fa-play-circle{
    font-size: 26px;
    color: #3a8af6;
}
  input[type=text]{
    font-size: 20px !important;
  width: 100%;
} 
.avatar-wrapper {
    height: 100px;
    width: 100px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 1px 1px 15px -5px black;
    transition: all 0.3s ease;
    text-align: center;
    line-height: 100px;
  }
  .avatar-wrapper:hover {
    cursor: pointer;
  }
  .avatar-wrapper:hover .profile-pic {
    opacity: 0.5;
  }
  .avatar-wrapper .profile-pic {
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
  }
  .keyoption{
    font-size: 22px;
    color: blue;
  }
  #quesiions{
    font-family: sans-serif;
  }
  .form-select {
    font-family: 'FontAwesome', 'Second Font name' !important;
    font-size: 16px;
  }
  textarea  
  {  
     font-size: 22px;   
  }
  .side-div{
    width: 100%;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  } 
  .overall{
    overflow: scroll;
  overflow-x: hidden;
  margin-top: 5px;
  height: calc(100vh - 200px) !important;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.cards{
  display: flex;
  flex-direction: column;
}
.list-item{
  height: 100px;
  width: 200px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 1px 1px 15px -5px black;
  transition: all 0.3s ease;
  text-align: center;
  line-height: 100px;
  margin: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
input[type=radio]{
  display: none;
}
.list-item input[type=text]{
  border: none;
  font-size: 20px;
  width: 100%;
  text-align: center;
}
p {
    font-family: Lato;
  }
  ul{
    list-style: none;
    margin: 0 !important;
    width: 0px !important;
  }
  
  .red {
    background: lightblue;
  }
  
  .mapped {
    background:lightgreen;
  }
 ::ng-deep .leader-line{
      z-index: 2147483648;
  }
  
  @media only screen and (max-width: 600px) {
    .overall {
      overflow: scroll;
      overflow-x: hidden;
      margin-top: 8px;
      height: calc(100vh - 100px)!important;
    }
    textarea  
    {  
       font-size: 14px;   
    } 
    h2{
      font-size: 18px;
    }
    .form-select {
      font-family: 'FontAwesome', 'Second Font name' !important;
      font-size: 12px;
    }
    .form-select-lg{
      padding: 5px;
      width: 100%;
  }
    input[type=text]{
        font-size: 14px !important;
      width: 100%;
    } 
    .list-item{
      height: 100px;
      width: 100px;
      border-radius: 25px;
      overflow: hidden;
      box-shadow: 1px 1px 15px -5px black;
      transition: all 0.3s ease;
      text-align: center;
      line-height: 100px;
      margin: 20px;
      padding-left: 5px;
      padding-right: 5px;
    }
    .labelop{
        font-size: 16px;
    }
    .image{
      font-size: 26px;
  }
  .fa-trash, .fa-plus-circle,.fa-file-excel-o, .fa-file-excel-o , .fa-picture-o, .fa-clone, .fa-th-large, .fa-play-circle{
      font-size: 16px;
  }
  .index{
    font-size: 16px;
    display: flex;
    margin-top: 5px;
  }
  .arrow--down{
    font-size: 20px;
  }

  }