<div class="overall">

    <div class="wrapper col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div *ngIf="f.confirmpwd.invalid
        && f.confirmpwd.errors.confirmedValidator" class="alert alert-danger">Password and Confirm Password must
            be match</div>
        <div class="title">
            Insight Mirror</div>
        <hr class="top">
        <form [formGroup]="passwordResetForm" novalidate (ngSubmit)="onSubmit()">
            <div class="field">
                <mat-icon class="placeholder" (click)="passwordEye()" class="input_img_login">
                    {{p_hide ? 'visibility_off' : 'visibility'}}
                </mat-icon>
                <input [type]="p_hide ? 'password' : 'text'" type="password" class="form-control" formControlName="pwd"
                    required>
                <label>New Password</label>

            </div>
            <div class="field">
                <mat-icon class="placeholder" (click)="passwordEye()" class="input_img_login">
                    {{p_hide ? 'visibility_off' : 'visibility'}}
                </mat-icon>
                <input [type]="p_hide ? 'password' : 'text'" type="password" class="form-control"
                    formControlName="confirmpwd" required>
                <label>Confirm Password</label>
            </div>

            <hr>
            <div class="field">
                <button type="submit" [disabled]='!passwordResetForm.valid' class="btn">Submit<i
                        class="fa fa-spinner fa-spin" *ngIf="isloading"></i></button>
            </div>
        </form>
    </div>

</div>