.container{
  border-left: 8px solid #3a8af6 !important;
  border: 1px solid lightgray;
  border-radius: 15px;
  
}
.cards{
  display: flex;
  flex-direction: column;
}
.list-item{
  height: 100px;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 1px 1px 15px -5px black;
  transition: all 0.3s ease;
  text-align: center;
  line-height: 100px;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
label{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #3a8af6;
  position: absolute;
  right: 20px;
}
input[type=radio]{
  display: none;
}
input[type=text]{
  border: none;
  font-size: 20px;
  width: 100%;
  text-align: center;
}
  .red {
    background: lightblue;
  }
  
  .mapped {
    background:lightgreen;
  }
  .mapped-and-selected{
    background: white;
  }
 ::ng-deep .leader-line{
      z-index: 2147483648;
  }
  @media only screen and (max-width: 600px) {
    input[type=text]{
      border: none;
      font-size: 14px;
      width: 100%;
    }
    .list-item{
      height: 100px;
      width: 100%;
      border-radius: 25px;
      overflow: hidden;
      box-shadow: 1px 1px 15px -5px black;
      transition: all 0.3s ease;
      text-align: center;
      line-height: 100px;
      margin: 5px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  