<div class="container">
    <div class="row text-center">
        <div class="col">
            <div class="card">
                <div class="card-info">
                    <h2 class="m-0">{{quiz.name}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row  justify-content-between">
        <div class="c-dashboardInfo col-lg-6 col-md-6 col-sm-12">
            <div class="wrap">
                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
                    Joined
                </h4>
                <span class="hind-font caption-12 c-dashboardInfo__count">{{participants.length}}</span>
            </div>
        </div>
        <div class="c-dashboardInfo col-lg-6 col-md-6 col-sm-12">
            <div class="wrap">
                <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Students
                </h4>
                <span class="hind-font caption-12 c-dashboardInfo__count">{{totalParticipants}}</span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center my-3">
        <h1 class="m-0">live Quiz</h1>
    </div>
    <div class="row">
        <div class="col" *ngFor="let participant of participants; let i = index">
            <div class="card">
                <div class="card-info">
                    <h2>{{participant.name}}</h2>
                    <div *ngFor="let answers of participant.answerSheet">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p>Correct Answers: {{answers.rightAnswerCount}}</p>
                            </div>
                            <div>
                                <p>Wrong Answers: {{answers.wrongAnswerCount}}</p>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuemax="100"
                                [ngStyle]="{'width': answers.width +'%'}">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-end float-right my-3">
        <div class="col">
            <button class="btn" (click)="endQuiztoStudent()">End Quiz</button>
        </div>
    </div>
</div>