<div class="_text_color teachers">

    <div>
        <a class="float" (click)="openAddNewteacher()">
            <i class="fa fa-plus my-float"></i>
        </a>
    </div>
    <div>
        <a class="float-upload" (click)="open(content)">
            <i class="fa fa-upload my-float"></i>
        </a>
    </div>


    <mat-spinner *ngIf="loading" class="loading"></mat-spinner>

    <app-im-alert type="danger" *ngIf="teacherslength == 0">{{teacherError}}</app-im-alert>


    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
        <thead>
            <tr>
                <th>
                    <h2 class="text-center text-white m-0">{{teacherTableHead}}</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let teacher of teachers; index as i">
                <td (click)="onListItemClick(i)" style="color: black; cursor: pointer;">{{teacher.name | titlecase}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #content let-modal>
    <div class="modal_control">
        <div class="modal-header">
            <h2 class="modal-title w-100 text-center" id="modal-basic-title">{{teacheruploadTitle}}</h2>
            <i class="fa fa-times" aria-hidden="true" (click)="modal.dismiss('Cross click')"></i>
        </div>
        <div class="modal-body">
            <app-upload-teacher (close_Teacher_upload_modal)=closeteacheruploadmodal($event)></app-upload-teacher>
        </div>
    </div>
</ng-template>
<ng-template #singleteacherModal let-modal>
    <div class="modal_control">
        <div class="modal-header _text_color">
            <h2 class="modal-title _text_color" id="modal-basic-title">Teacher Details</h2>
            <i class="fa fa-times _text_color" aria-hidden="true" (click)="modal.dismiss('Cross click')"></i>
        </div>
        <div class="modal-body">
            <app-teacher-details [id]='selectedid' (modalClose)="modalClose($event )">
            </app-teacher-details>
        </div>
    </div>
</ng-template>