.subjects{
  margin-top: 10px;
}
@media only screen and (max-width: 600px) {
  
    .subjects{
      overflow: scroll;
    overflow-x: hidden;
    height: calc(100vh - 110px)!important;

    }
    ::ng-deep .subjects-create .modal-dialog{ 
        width: 100%;
        margin: 0px!important;
        border: none!important;
      }
      ::ng-deep  .modal-open .modal{
        overflow: hidden!important;
      }
      .modal_control{
        height: 100vh;
      }
      ::ng-deep .modal-backdrop.show{
        opacity: 0!important;
      }
        .students{
          overflow: scroll;
        overflow-x: hidden;
          height: calc(100vh - 100px)!important;
    }
}