<div class="container">
    <mat-card>
        <div class="row heading">
            <div class="col-xl-6 col-sm-12">
                <h1>Schools</h1>
            </div>
            <div class="col-xl-6 col-sm-12">
                <button class="btn" color="accent" (click)="openAddNewSchool()"><i class="fa fa-plus-circle"
                        aria-hidden="true"></i>
                    Add</button>
            </div>
        </div>

        <app-school-list></app-school-list>
    </mat-card>
</div>