<div class="main-div">
    <form>
        <div class="form-group">
            <div class="col-sm-12">
                <label for="admin_email" class="control-label required">Email</label>
                <input type="email" [(ngModel)]="adminDetails.email" [ngModelOptions]="{standalone: true}"
                    [disabled]="!showCase" id="admin_email" class="form-control">

            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <label for="admin_name" class="control-label required">Name</label>
                <input type="text" [(ngModel)]="adminDetails.name" [ngModelOptions]="{standalone: true}" id="admin_name"
                    [disabled]="!showCase" class="form-control">

            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <label for="admin_mobile_number" class="control-label required">Mobile</label>
                <input type="number" [(ngModel)]="adminMobile" [ngModelOptions]="{standalone: true}"
                    [disabled]="!showCase" id="admin_mobile_number" class="form-control">
            </div>
        </div>
        <div class="row justify-content-center mx-3">
            <button class="mx-3 btn" *ngIf="!showCase" (click)="editUser()">Edit</button>
            <button class="mx-3 btn" *ngIf="showCase" (click)="updateUser()">Update</button>
            <button class="mx-3 btn" (click)="deleteUser()">Delete</button>
        </div>
    </form>
</div>